@page "/about"
@rendermode InteractiveServer

<PageTitle>About the team</PageTitle>

<h1>About the team</h1>

<section class="about-media-list">
    <article class="about-media">
        <img src='@Assets["images/about/KeithLeverton.jpg"]' alt="Keith Leverton" />
        <div class="about-media-body">
            <h2>Keith Leverton</h2>
            <p>
                Lead Developer. Lead Architect. Lead QA. Lead Platform Engineer. Lead Scrum Master. Lead Project Manager.
            </p>
        </div>
    </article>

    <article class="about-media">
        <img src='@Assets["images/about/ShahnazAhmad.jpg"]' alt="Shahnaz Ahmad" />
        <div class="about-media-body">
            <h2>Shahnaz Ahmad</h2>
            <p>
                Director of Whimsy
            </p>
        </div>
    </article>
    <p>If you would like to provide feedback or make suggestions please contact us at <a href="mailto:feedback@ai-my.co.uk">feedback@ai-my.co.uk</a></p>
</section>

@code {
    // Add/modify text and image filenames as needed. Place images under wwwroot/images.
}
