@inherits LayoutComponentBase

<div class="page">
    <main class="home-main">
        <article class="content px-4">
            <div class="top-row px-4">
                <a href="/about" target="_blank">About</a>
            </div>
            @Body
        </article>
    </main>
</div>