<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Ai-My</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <details class="nav-item px-1" open>
            <summary class="nav-link text-light">
                <span class="bi bi-briefcase-fill" aria-hidden="true"></span> Job Apps
            </summary>
            <div class="ps-3">
                <div class="nav-item px-2">
                    <NavMenuLink Href="reviewcv" Text="Review CV" IconEmoji="📎" />
                </div>

                <div class="nav-item px-2">
                    <NavMenuLink Href="CoverLetter" Text="Cover Letter" IconEmoji="✉️" />
                </div>

                <div class="nav-item px-2">
                    <NavMenuLink Href="customisecv" Text="Customise CV" IconEmoji="📄" />
                </div>
            </div>
        </details>
    </nav>
    <nav class="nav flex-column">
        <details class="nav-item px-1" open>
            <summary class="nav-link text-light">
                <span class="bi bi-briefcase-fill" aria-hidden="true"></span> Arts and Crafts Apps
            </summary>
            <div class="ps-3">
                <div class="nav-item px-2">
                    <NavMenuLink Href="ColouringPage" Text="Colouring Page" IconEmoji="🖼️" />
                </div>
                <div class="nav-item px-2">
                    <NavMenuLink Href="sewingPattern" Text="sewing Pattern" IconEmoji="✂️" />
                </div>
            </div>
        </details>
    </nav>
</div>